.gallery {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  justify-items: flex-start;
  margin: 32px auto;
  gap: 24px;
}

.gallery li img {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;

  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #FFF;
}

.gallery-item-title {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.48px;
}

.gallery-item-value {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.loader {
  padding: 32px;
  display: none;
}

.load-more {
  display: none;
  margin: 10px auto;
}